/*

Template 2076 Zentro

http://www.tooplate.com/view/2076-zentro

*/

body
	{
		background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
	}

.heading {
  font-size: 22px;
  font-weight: 500;
}

p {
  color: #444444;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 28px;
}

hr {
	border-top: 2px solid #828282;
	width: 120px;
}

#menu, #gallery, #team, #mission, #reed, #cane, #credits {
	padding-top: 100px;
	padding-bottom: 100px;
}
#menu, #reed, #contact, #gallery {
  background: #f0f0f0;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

/* preloader section */
.preloader  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: none repeat scroll 0 0 #fff;
    }
.sk-spinner-pulse {
  width: 40px;
  height: 40px;
  background-color: #F6D76B;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }


/* start navigation */
.navbar-default {
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
  border: none;
  margin-bottom: 0;
}
.navbar-brand, .navbar-nav li a {
  line-height: 28px;
}
.navbar-default .navbar-brand {
  color: #5C5C5C;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-default .navbar-nav li a {
  font-size: 12px;
  letter-spacing: 1px;
}
.navbar-default .navbar-nav li span {
  line-height: 28px;
  font-size: 20px;
  bottom: 2px;
  position: relative;
  display: block;
  padding: 15px 15px;
  color: #777;
}

/* home section */
#home {
  background: url('../images/Lukeoboe3A.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}
#home h1 {
  font-size: 20px;
  letter-spacing: 8px;
  font-style: normal;
  padding-top: 10px;
}

/* gallery (bio) section */
#gallery {
  padding-top: 80px;
  padding-bottom: 80px;
}
#gallery .col-md-4 {
  padding-top: 52px;
}
#gallery img {
  width: 100%;
  padding-bottom: 18px;
}
#gallery .col-md-4 div {
  position: relative;
  bottom: 18px;
  padding-bottom: 12px;
}
#gallery .col-md-8, #gallery .col-lg-8, #gallery .col-md-12, #gallery .col-sm-12 {
  padding-top: 24px
}
#gallery i {
  font-style: italic;
}

/* credits section */
#credits {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
#credits h4 {
  color: #5C5C5C;
  padding-top: 18px;
  font-size: 12 px;
  line-height: 1.5;
}
#credits .col-md-4, #credits .col-md-6, #credits .col-md-8 {
  padding-top: 12px;
  padding-bottom: 12px;
}
#credits .col-md-8 {
  padding-bottom: 42px;
}
#credits .top2 .col-md-6 {
  padding-top: 0;
}
#credits .video-responsive{
  overflow:hidden;
  padding-bottom: 56.25%;
  position:relative;
  height:0;
  border: 3px solid #0000008c;
}
#credits .video-responsive iframe{
  left:0;
  top:0;
  width:100%;
  height: 100%;
  position:absolute;
}
#credits img {
  width: 100%;
  padding-bottom: 18px;
}
#credits h2 {
  padding-bottom: 20px;
}
#credits .box:hover .top {
  opacity: 1;
  padding-top: 12px;
}
#credits .box:hover .top2 {
  opacity: 1;
  padding-top: 12px;
}
#credits .box:hover .bottom {
  opacity: 1;
  padding-bottom: 20px;
}

/* menu (media) section */
#menu h4 {
	line-height: 1.5;
}
#menu .col-md-6 {
  padding-bottom: 18px;
}
#menu .video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
#menu .video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/* team (aka reeds on home page) section */
#team {
  text-align: center;
}
#team h4 {
  color: #5C5C5C;
  padding-top: 24px;
}
#team .col-md-4 {
 padding-top: 42px;
}

/* contact section */
#contact {
  padding-top: 80px;
  padding-bottom: 100px;
}
#contact .col-md-8 {
  margin-bottom: 32px;
}
#contact .form-control {
  background: #ffffff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}
#contact .form-control:focus {
  border-color: #f9f9f9;
}
#contact input, #contact select {
  height: 48px;
}
#contact input[type="submit"] {
  background: transparent;
  border: 2px solid #999;
  border-radius: 10px;
  letter-spacing: 2px;
  margin-top: 12px;
  height: 50px;
}
#contact input[type="submit"]:hover {
  background: #999;
  color: #ffffff;
}


/* footer section */
footer {
  background: url('../images/Lukehead3.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}
footer h2 {
  padding-bottom: 14px;
}

footer p {
  color: #ffffff;
}
footer span {
  font-weight: bold;
  padding-left: 24px;
}
footer .ph, footer .address {
  padding-top: 12px;
  padding-bottom: 12px;
}
footer .fa {
  font-size: 12px;
  padding-right: 10px;
}

/* homereed section */
#homereed {
  background: url('../images/reedheader5.JPG') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}
#homereed h2 {
  font-size: 32px;
  font-style: normal;
  padding-top: 10px;
  letter-spacing: 2px;
}
#homereed h1{
  font-size: 20px;
  letter-spacing: 8px;
  font-style: normal;
  padding-top: 10px;
}
#homereed h4 {
  font-size: 14px;
  font-style: normal;
  padding-top: 10px;
  letter-spacing: 2px;
}

/* mission section */
#mission h4 {
  line-height: 1.5;
  color: #5C5C5C;
}
#mission h3 {
  padding-top: 24px;
  font-size: 20px;
}
#mission .col-md-8 {
  padding-bottom: 0px;
}

/* reed section */
#reed {
  padding-top: 80px;
  padding-bottom: 80px;
}
#reed .col-md-3 {
  padding-top: 52px;
}
#reed img {
  width: 100%;
  opacity: 1;
}
#reed h4 {
  padding-top: 18px;
}
#reed .box:hover .image {
  opacity: .75;
}
#reed .box:hover .centered {
  opacity: 1;
}
#reed .box:hover {
  background-color: #000000b2
}
#reed .textbox:hover {
  background-color: #444;
  color:white;
}

/* cane section */
#cane {
  padding-top: 80px;
  padding-bottom: 80px;
}
#cane .col-md-4 {
  padding-top: 52px;
}
#cane img {
  width: 100%;
  opacity: 1;
}
#cane .box:hover .image {
  opacity: .75;
}
#cane h4 {
  padding-top: 18px;
}
#cane .box:hover .centered {
  opacity: 1;
}
#cane .box:hover {
  background-color: #000000b2
}
#cane .textbox:hover {
  background-color: #444;
  color:white;
}

/* footerreed section */
#footerreed {
  background: url('../images/reedheader3.JPG') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}
#footerreed h2 {
  padding-bottom: 14px;
}
#footerreed p {
  color: #ffffff;
}
#footerreed span {
  font-weight: bold;
  padding-left: 24px;
}
#footerreed .ph, #footerreed .address {
  padding-top: 12px;
  padding-bottom: 12px;
}
#footerreed .fa {
  font-size: 16px;
  padding-right: 0px;
}

/* containers */
.image {
  opacity: 1;
  transition: .5s ease;
}
.box {
  position: relative;
  text-align: center;
  transition: .5s ease;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .5s ease;
}

.bottom {
  position: absolute;
  bottom: 18px;
  opacity: 0;
  transition: .5s ease;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.4px;
  background-color: #0000008c;
  color: white;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: center;
  width: 100%;
}
.top {
  position: absolute;
  top: 15%;
  opacity: 0;
  transition: .5s ease;
  padding-top: 30px;
  width: 100%;
}
.top2 {
  position: absolute;
  top: 1%;
  opacity: 0;
  transition: .5s ease;
  padding-top: 30px;
  width: 100%;
}
.textbox {
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 2px;
  background-color: #f0f0f0;
  color:#444;
  border-radius: 12px;
  border: 2px solid #444;
  padding: 12px 32px;
  transition: .5s ease;
}

/* social icon */
.social-icon {
  padding: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 0;
}
.social-icon li a {
  background: #f0f0f0;
  border-radius: 50%;
  color: #5C5C5C;
  font-size: 16px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin-top: 12px;
  margin-right: 16px;
  top: 0;
  position: relative;
  padding: 0;
}
.social-icon li a:hover {
  background: #F6D76B;
  top: 5px;
}

/* copyright section */
#copyright {
  background: #343434;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
#copyright p {
  color: #ffffff;
}