/*

Template 2076 Zentro

http://www.tooplate.com/view/2076-zentro

*/

body
	{
		background: #111;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
	}
.heading {
  font-family: 'Bebas Neue', cursive;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 3px;
}
hr {
	border-top: 2px solid #828282;
	width: 200px;
}
.shadow {
  background: white;
  box-shadow: 5px 5px 5px grey;
  border: 3px solid #444444;
  position: relative;
  top: -40px;
  text-align: center;
}
.shadow hr {
  margin-top: 0px;
}
p {
  color: #444444;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 28px;
}
#bio, #media, #reedheader, #reed, #credits, #contact, #footer {
	padding-bottom: 80px;
}
#bio, #media, #contact  {
  background: #f0f0f0;
}
#credits, #reed {
  background: #ffffff;
}
.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}
.pad3 {
  padding: 3px;
}

/* preloader section */
.preloader  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: none repeat scroll 0 0 #fff;
    }
.sk-spinner-pulse {
  width: 40px;
  height: 40px;
  background-color: #F6D76B;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }


/* start navigation */
.navbar-default {
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
  border: none;
  margin-bottom: 0;
}
.navbar-brand, .navbar-nav li a {
  line-height: 28px;
}
.navbar-default .navbar-brand {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700 bold;
  color: #5C5C5C;
  font-size: 26px;
  letter-spacing: 2px;
}
.navbar-default .navbar-nav li a {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
.navbar-default .navbar-nav li span {
  line-height: 28px;
  font-size: 20px;
  bottom: 2px;
  position: relative;
  display: block;
  padding: 15px 15px;
  color: #777;
}

/* home section */
#home {
  background: url('../images/Lukeoboe.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  text-align: center;
}
#home h1 {
  font-size: 20px;
  letter-spacing: 8px;
  font-style: normal;
  text-shadow: 2px 2px 5px black;
}
#home h2 {
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px black; 
}
#home .col-md-8 {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #000000b2;
  border: 3px solid white;
}

/* bio section */
#bio .col-md-4 {
  padding-top: 6px;
  padding-bottom: 6px;
}
#bio .col-md-4 div {
  padding-top: 18px;
  padding-bottom: 24px;
}
#bio img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#bio .col-md-8 {
  padding-bottom: 16px
}
#bio i {
  font-style: italic;
}

/* credits section */
#credits {
  text-align: center;
}
#credits a {
  color: #ffffff;
}
#credits h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 28px;
  letter-spacing: 5px;
  margin-top: 0;
}
#credits h3 {
  color: #3b5998;
  font-size: 14px;
  letter-spacing: 3px;
}
#credits h4 {
  padding: 16px;
  color: #5C5C5C;
  font-size: 20px;
  line-height: 1.5;
}
#credits h5 {
  color: #3b5998;
  font-size: 20px;
  letter-spacing: 3px;
  padding-top: 8px;
}
#credits h6 {
  font-size: 14px;
}
#credits .film .col-sm-4 {
  margin: 0;
  padding: 6px;
}
#credits .box-shadow .image-responsive, #credits .box-shadow img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#credits .fa {
  text-align: left;
  font-size: 28px;
  position: absolute;
  background: none;
  line-height: 28px;
}
#credits .social-icon li a:hover {
  color: #F6D76B;
}
#credits .video-responsive {
  border: 2px solid #000;
}
#credits .col-sm-9 .image-responsive{
  padding-bottom: calc((100% - 12px)/2.999);
}
#credits .col-sm-6 .image-responsive, #credits .col-xs-12 .image-responsive {
  padding-bottom: calc((100% - 6px)/2);
}
#credits .col-sm-4 .image-responsive{
  padding-bottom: calc((100% * 3)/2.01);
}
#credits .videogames .col-sm-4 .image-responsive{
  padding-bottom: calc(50% - 3px);
}
#credits img {
  width: 100%;
  transition: .5s ease;
}
#credits .centered {
  width: 100%;
  top: 3%;
  left: 3%;
}
#credits .box:hover .bottom {
  opacity: 1;
  padding-bottom: 20px;
}

/* media section */
#media h4 {
	line-height: 1.5;
}
#media .col-sm-6 {
  padding-bottom: 18px;
}
#media .video-responsive {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* reedheader section */
#reedheader {
  padding-top: 0px;
  padding-bottom: 70px;
  background: url('../images/reedheader1.JPG') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
#reedheader h4 {
  color: white;
  padding: 12px 12px 0px;
  line-height: 1.5;
}
#reedheader h3 {
  color: white;
  padding-top: 24px;
  font-size: 20px;
}
#reedheader .col-xs-12 {
  background-color: #000000d3;
  padding: 20px;
  border: 3px solid white;
  padding: 3px;
}

/* reed section */
#reed h4 {
  padding-top: 18px;
}
#reed .col-sm-3 {
  position: relative;
  top: -40px;
  padding-top: 0px;
}
#reed img {
  width: 100%;
  box-shadow: 5px 5px 5px #777777;
  opacity: 1;
}
#reed .box {
  background: white;
}
#reed .centered {
  opacity: 0;
}
#reed .box:hover .image {
  opacity: .75;
}
#reed .box:hover .centered {
  opacity: 1;
}
#reed .box:hover {
  background-color: black;
}
#reed .textbox:hover {
  background-color: #444;
  color:white;
}

/* contact section */
#contact .form-control {
  background: #ffffff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}
#contact .form-control:focus {
  border-color: #f9f9f9;
}
#contact input, #contact select {
  height: 48px;
}
#contact input[type="submit"] {
  background: transparent;
  border: 2px solid #999;
  border-radius: 10px;
  letter-spacing: 2px;
  margin-top: 12px;
  height: 50px;
}
#contact input[type="submit"]:hover {
  background: #999;
  color: #ffffff;
}

/* footer section */
footer {
  background: url('../images/reedheader3.JPG') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}
footer h2 {
  padding-bottom: 14px;
}
footer p {
  color: #ffffff;
}
footer span {
  font-weight: bold;
  padding-left: 24px;
}
footer .ph, footer .address {
  padding-top: 12px;
  padding-bottom: 12px;
}
footer .fa {
  font-size: 12px;
  padding-right: 10px;
}


/* lightbox */
#lightbox {
  padding-top: 52px;
  padding-bottom: 40px;
}
#lightbox img {
  padding-top: 20px;
  padding-bottom: 6px;
  width: 100%;
}
#lightbox button {
  padding: 1px 1px;
}
#lightbox button img{
  padding: 0px;
}
#lightbox h1 {
  font-size: 28px;
  line-height:30px;
}
#lightbox h2 {
  font-size: 20px;
  color: #848484;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 28px;
  padding-bottom: 30px;
}
#lightbox h3 {
  color: #848484;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 10px;
  margin: 8px;
}
#lightbox p {
  color: #848484;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 28px;
  padding-bottom: 30px
}

/* trailer */
#trailer {
  padding-top: 5vh;
  height: auto;
}
#trailer .col-xs-12 {
  margin: 0;
  padding: 0;
}
#trailer h1 {
  color: #ffffff;
  font-size: 20px;
  line-height:30px;
}
#trailer .video-responsive {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* containers */
.image {
  opacity: 1;
  transition: .5s ease;
  background-color: #000;
}
.box {
  position: relative;
  transition: .5s ease;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s ease;
}
.bottom {
  position: absolute;
  bottom: 0px;
  opacity: 0;
  transition: .5s ease;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.4px;
  background-color: #000000d3;
  color: white;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: center;
  width: 100%;
}
.textbox {
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 2px;
  background-color: #f0f0f0;
  color:#444;
  border-radius: 12px;
  border: 2px solid #444;
  padding: 12px 32px;
  transition: .5s ease;
}
.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.image-responsive{
  overflow:hidden;
  position:relative;
  height:0;
}
.image-responsive img{
  width:100%;
  height: auto;
  position:center;
}

/* social icon */
.social-icon {
  padding: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 0;
}
.social-icon li a {
  background: #ffffff;
  border-radius: 50%;
  color: #5c5c5c;
  font-size: 16px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin-top: 12px;
  margin-right: 16px;
  top: 0;
  position: relative;
  padding: 0;
}
.social-icon li a:hover {
  background: #F6D76B;
  top: 5px;
}

ul.leaders {
  max-width: 40em;
  padding: 0px;
  overflow-x: hidden;
  margin-bottom: 0px;
  }
  
  ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content:
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . "
  }
  
  ul.leaders span:first-child {
  padding-right: 0.33em;
  background: #f0f0f0;
  }
  
  ul.leaders span + span {
  float: right;
  padding-left: 0.33em;
  background: #f0f0f0;
  }
.orderlistleft {
  padding-left: 15px;
}

/* copyright section */
#copyright {
  background: #343434;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
#copyright p {
  color: #ffffff;
}